@import "mixin";

// /* Footer Section  */

#footer{
    
    margin-top: 5em;
    padding: 0em 0;
  z-index:-10;
    /* margin-left: -9px;
    margin-right: -9px; */
    @include respond(phone){
        margin-top:3em;
    } 
}

.foot-cont{
    width: 100%;
    display: flex;
    /* margin-left: 100px; */
    /* margin-right: 100px; */
    padding: 0px 15px;
    margin-left: -9px;
    margin-right: -9px;
    background: #303030;
    
      font-family: 'PT Sans', sans-serif;
    @include respond(phone){
        position:relative;
        padding: 0px 1px;  
        margin-left: 0px;
        margin-right:0px;  
       
    } 
    &-foot1{
        color: white;
        /* border: 2px solid darkgrey; */
        /* border-bottom: darkgrey; */
        width: 40%;
        margin-bottom:0rem;
        margin: 3rem 20px;
        text-align: center;
        @include respond(phone){
            padding: 1px 1px; 
            // border:2px solid blue; 
            margin: 1.5rem 7px;  
        } 
        &-heading{
            /* border-bottom: darkgrey; */
            &-text{
                @include respond(phone){
                  font-size:1rem;   
                 font-weight:600;  
                 //background-color:green;
                }
                font-weight:900;
                font-size:2.4rem;
            }
           
        }
        &-para{
            padding-top: .4rem;
            font-size: 19px;
            font-family: 'Open Sans', sans-serif;
            @include respond(phone){
                
                font-size: 13px;  
                 padding-top: 0rem; 
                 padding-bottom:0rem;
                 //background:red;
            } 
            &-link{
                text-decoration: none;
                &:hover{
                    text-decoration: none; 
                }
                
            }
        }
    }
    .socialmedia{
        @include respond(phone){
           width:1rem;
           height:1rem;
        }
    }
    &-imgbox{
        margin-top: 3rem;
        @include respond(phone){
           
           margin-top: 0rem;
        } 
        &-image{
            height: 10rem;
            width: 10rem;
            margin: 0px 12px;
            box-shadow:2px 2px 15px rgb(0,0,0);
            @include respond(phone){
                margin: 40px 10px;
               height: 4rem;
               width: 4rem;
               margin-bottom:30px;  

            } 
        }
    }
    
}


.footend{
 
    background-color: black;
    color: white;
    text-align: center;
   
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    @include respond(phone){
        font-size: 16px;    
    } 
    &-copyright{
        padding:.5rem;
    }
}
.xyz:focus{
 color:green;
}


.s_stk {
    z-index: 99;
}
.s_stk {
    background: #f1f1f1;
    display: inline-block;
    width: 100%;
    padding: 0;
    position: fixed;
    bottom: 0;
    text-align: center;
    border: 0;
}
.ss-ic, .sp-athr, .amp-tags, .post-date {
    padding-bottom: 20px;
    border-bottom: 1px dotted #ccc;
}
// html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
//     margin: 0;
//     padding: 0;
//     border: 0;
//     outline: 0;
//     font-size: 100%;
//     vertical-align: baseline;
//     background: transparent;
// }
// *, *:after, *:before {
//     box-sizing: border-box;
//     -ms-box-sizing: border-box;
//     -o-box-sizing: border-box;
// }
user agent stylesheet
div {
    display: block;
}
Style Attribute {
    opacity: 1;
    visibility: visible;
    animation: 0s ease 0s 1 normal none running none;
}

.s_stk ul {
    width: 100%;
    display: inline-flex;
}

p, ol, ul, figure {
    margin: 0 0 1em;
    padding: 0;
}
ol, ul {
    list-style-position: inside;
}
*, *:after, *:before {
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
}
user agent stylesheet
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.s_stk {
    background: #f1f1f1;
    display: inline-block;
    width: 100%;
    padding: 0;
    position: fixed;
    bottom: 0;
    text-align: center;
    border: 0;
}



.s_stk ul li {
    flex-direction: column;
    flex-basis: 0;
    flex: 1 0 5%;
    max-width: calc(100% - 10px);
    display: flex;
    height: 40px;
}
.ss-ic ul li {
    font-family: "icomoon";
    list-style-type: none;
    display: inline-block;
}

user agent stylesheet
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
ol, ul {
    list-style-position: inside;
}
user agent stylesheet
ul {
    list-style-type: disc;
}
.s_stk {
    background: #f1f1f1;
    display: inline-block;
    width: 100%;
    padding: 0;
    position: fixed;
    bottom: 0;
    text-align: center;
    border: 0;
}
Style Attribute {
    opacity: 1;
    visibility: visible;
    animation: 0s ease 0s 1 normal none running none;
}

.ss-ic li:before {
    border-radius: 2px;
    text-align: center;
    padding: 4px 6px;
}

.ss-ic ul li .s_fb {
    color: #fff;
    background: #3b5998;
}
.s_stk li a {
    margin: 0;
    border-radius: 0;
    padding: 12px;
}
.ss-ic li a {
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    margin: 0px 10px 10px 0px;
    display: inline-block;
}
a, a:active, a:visited {
    text-decoration: none;
    color: #005be2;
}
a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
.ss-ic ul li {
    font-family: "icomoon";
    list-style-type: none;
    display: inline-block;
}

user agent stylesheet
li {
    text-align: -webkit-match-parent;
}
ol, ul {
    list-style-position: inside;
}
user agent stylesheet
ul {
    list-style-type: disc;
}
.s_stk {
    background: #f1f1f1;
    display: inline-block;
    width: 100%;
    padding: 0;
    position: fixed;
    bottom: 0;
    text-align: center;
    border: 0;
}
.s_fb:after {
    content: "\e92d";
}
.s_rd {
    background: #ff4500;
}

