@import "mixin";
.happy{
    position:absolute;
    width:10rem;
    height:10rem;
     top:28rem;
    &-1{
        right:2rem;
    }
    &-2{
       left:2rem;
    }
    @include respond(phone){
        display:none;
    }
}
.form{
    background-color:rgba(0, 0, 0, 0.7);
    //position:absolute;
    width:100%;
    position:fixed;
    height:90%;
    @include respond(phone){
        height:100%;
        z-index:10000;
    }
    &-link{
        width:70%;
        position:fixed;
        transform:translate(20%,30px);
        height:90%;
        @include respond(phone){
            width:80%;
            transform:translate(10%,50px);
            height:90%;
        }
    }
    &-close{
        right: 82px;
        top: 42px;
        width: 80px;
        height: 80px;
        border-radius:50%;
        position: absolute;
        background-color:transparent;
        border:1px solid transparent;
        &:active{
            border:0px solid transparent !important;
             background-color:transparent !important;
             box-shadow:0px 0px 0px transparent !important;
        }
        @include respond(phone){
            position:absolute;
            right: 3px;
            top: 2px;
            width: 55px;
            height: 55px;
            z-index:10000;
        }
        &:hover{
            background-color:rgba(255,255,255,.7);
            box-shadow:1px 1px 5px black;
        }
        &:hover > &-btn::before{
            background-color:red;
        }
        &:hover > &-btn::after{
            background-color:red;
        }
        &-btn {
            &::before, &::after {
                position: absolute;
                right:35px;
                top: 10px;
                content: ' ';
                height: 63px;
                width: 10px;
                background-color: white;
                border-radius:10px;
                cursor:pointer;
                @include respond(phone){
                    height: 37px;
                    width: 7px;
                    right:25px;
                    top: 9px;
                }
            }
            &::before {
                transform: rotate(45deg);
            }
            &::after {
                transform: rotate(-45deg);
            }
            
        }

    }
   
    
}
