
.navbars {
    width:100%;
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  height: 80px;
  //display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position:fixed;
  z-index:1000000 !important;
}

.navbar-logo {
   // left:5.5%;
  //color: #fff;
  cursor: pointer;
   width:3.5rem;
    height:3.5rem;
    position: relative;
    border-radius:50%;
}

.nav-menus {
  // right: 5rem; 
    width:100%;
  // display: grid;
  // grid-template-columns: repeat(7, auto);
  // grid-gap:0px;
   list-style: none;
   text-align: center;
   justify-content: end;
  z-index:1000000;
  margin-top:.48rem;
  //background:red;
}

.nav-items{
   
  align-items: center;
  //height: 50px;
  z-index:1000000;
  text-decoration:none;
  //background:green;
  text-align: center;
  color: #fff;
}

.nav-links {
  color: white;
  text-decoration: none;
  padding: 0.5rem 0.5rem;
  z-index:1000000;
  text-decoration:none;
  font-size:1.4rem;
  text-align: center;
}

.nav-links:hover {
  background-color: #1888ff;
  border-radius: 4px;
  transition: all 0.2s ease-out;
  text-decoration:none;
}

.fa-bars {
  color: #fff;
}
 
.menu-icon {
  display: none;
}

@media screen and (max-width: 1200px) {
   .navbars{
     background-color: antiquewhite;
       position:fixed;
       width:100%;
       height: 60px;
   }
  .navbar-nav .nav-link {
    padding-right: 8.5rem;
    padding-left: 8.5rem;
}
  .nav-menus {
    //background:red;
    //display: flex;
    //flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 52px;
    left: -500%;
    opacity: 1;
    transition: all 0.5s ease;
    padding-bottom: 3rem;
  }

  .nav-menus.active {
    left: 0%;
    background: #242222;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 100000;
  }

  .nav-links{
    display: block; 
    text-align: center;
    padding: 0.6rem 7rem;
    border-radius: 4px;
    background: #1888ff;
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;
    text-decoration:none;
  }

  .nav-items{
    display: block; 
    padding: 0 5rem;
  }
  .nav-links:hover {
    background: #fff;
    color: #1888ff;
    transition: 250ms;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 20%);
    width:2.8rem;
    height:2.8rem;
  }

  .menu-icon {
    z-index:100000;
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    transform: translate(-100%, 50%);
    font-size: 1.8rem;
    cursor: pointer;
    color: #fff;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  button {
    display: none;
  }
  .Phonedropdown {
    display: block;
    width:160%;
    background: #242222;
   transform:translateX(-26%);
    position: relative;
    align-items: center;
    list-style: none;
    z-index:100000;
    border-radius:4px;
    &-li{
      background: #1888ff;
      cursor: pointer;
      z-index:4;
      border-radius:4px;
      text-align: center;
      &:hover{
        background: #5cabff;
      }
      &-link{
        display: block;
        padding: 0.4rem ;
        margin: .7rem auto;
        padding:.2rem 0rem ;
        border-radius: 4px;
        width: 80%;
        background: #1888ff;
        text-decoration: none;
        color: #fff;
        font-size: 1.3rem;
        &:hover{
            text-decoration: none;
        }
      }
    }
  }
}

.dropdownSet {
  background: red;
  width: 200px;
margin-top:2px;
  position: absolute;
//    left:20%;
  list-style: none;
  text-align: start;
  z-index:100000;
  border-radius:4px;
}

.dropdownSet li {
  background: #1888ff;
  cursor: pointer;
    z-index:4;
  border-radius:4px;
  list-style: none;
}

.dropdownSet li:hover {
  background: #5cabff;
  list-style: none;
 
}

.dropdownSet.clicked {
  display: none;
   
}

.dropdown-link {
  display: block;
  height: 100%;
  width: 100%;
  color: #fff;
  padding: 10px;
   text-decoration:none;
   &:hover{
      text-decoration: none;
   }
}

.imgEvent{
  width:9rem;
  margin-right:-3rem;
  border-radius:4px;
}

.Phonedropdown.clicked {
  display: none;
   
}
.Phonedropdown{
 
}







